*, *::after,*::before{
  box-sizing: border-box;
}
html, body{
  padding:0;
  margin: 0;
  height:100%;
  overflow:hidden;
  font: 1.2em/1.612em monospace;
  padding:0 1em;
  color:#555;
}
body{
  padding-top:1.612em;
}
.comment{
  color:#393;
}
